# mac
.DS_Store

# git folder
.git

# npm
node_modules
npm-debug.log

# cache
.cache

# personal
.env
config.js
montemeet-profiles.json
dev-fixtures
docker-compose.yml
docker-push.sh
data
rec
rtmp
rnnoiseBuild
security

# virtual background
custom
montemeet-journal.ndjson
